{erl_opts, [debug_info]}.
{deps, []}.

{relx, [{release, {m_node, "0.1.0"},
          [m_node, sasl],
          [
            {mode, dev},
            {sys_config, "./config/sys.config"},
            {vm_args, "./config/vm.args"}
          ]
        },
        {release, {s_node, "0.1.0"},
          [s_node, sasl],
          [
            {mode, dev},
            {sys_config, "./config/sys.config"},
            {vm_args, "./config/vm.args"}
          ]
        },
        {release, {c_node, "0.1.0"},
          [c_node, sasl],
          [
            {mode, dev},
            {sys_config, "./config/sys.config"},
            {vm_args, "./config/vm.args"}
          ]
        }
]}.

{profiles, [{prod, [{relx,
                     [%% prod is the default mode when prod
                      %% profile is used, so does not have
                      %% to be explicitly included like this
                      {mode, prod}

                      %% use minimal mode to exclude ERTS
                      %% {mode, minimal}
                     ]
            }]}]}.
